[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = "*"
black = "*"

[packages]
django = "*"
django-countries = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
pillow = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
