[[source]]
name = "pypi"
url = "http://ftp.daumkakao.com/pypi/simple"
trusted-host = "ftp.daumkakao.com"

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "==2.2.5"
pillow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
